/***** Animation Block #1 *****/

@keyframes dash {
    to {
        stroke-dashoffset: 226;
    }
}
@keyframes stat {
    100% {
        fill: #ea452e;
    }
}
.stats,
.stats-two {
    //visibility: hidden;
    //opacity: 0;
    transition: opacity 500ms ease;
    margin-bottom: 3em;
    &.visible {
        //visibility: visible;
        //opacity: 1;
        circle {
            &.stat,
            &.stat-2,
            &.stat-3,
            &.stat-4 {
                animation: dash 3s linear forwards;
            }
            &.stat {
                animation-delay: 800ms;
            }
            &.stat-2 {
                animation-delay: 1800ms;
            }
            &.stat-3 {
                animation-delay: 2400ms;
            }
            &.stat-4 {
                animation-delay: 3000ms;
            }
        }
    }
    li {
        position: relative;
        display: block;
        background-color: $blue;
        color: #fff;
        font-weight: 700;
        padding: 1em;
        min-height: 14em;
        margin-bottom: 2em;
        &:nth-child(2) {
            background-color: darken($gray-back, 7.5%);
            color: $black;
        }
        &:nth-child(3) {
            background-color: $blue-dk;
        }
        &:nth-child(4) {
            background-color: $gray;
            span,
            h5 {
                color: $black;
            }
        }
        &:nth-child(5) {
            background-color: $black;
            color: #fff;
        }
        &:nth-child(6) {
            background-color: darken($gray-back, 15%);
            span,
            h5 {
                color: $blue-dk;
            }
        }
    }
    circle {
        stroke: #f0f0f0;
        stroke-width: 80;
        fill: none;
        &.stat,
        &.stat-3,
        &.stat-4 {
            stroke-dasharray: 1360;
            stroke-dashoffset: 1360;
        }
        &.stat {
            stroke: darken($gray-back,12%);
        }
        &.stat-2 {
            stroke: $black;
            stroke-dasharray: 1250;
            stroke-dashoffset: 1250;
        }
        &.stat-3 {
            stroke: $blue-lt;
        }
        &.stat-4 {
            stroke: #fff;
            stroke-dasharray: 1325;
            stroke-dashoffset: 1325;
        }
    }
    h5 {
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: 1px;
        margin: 1em 0 0;
        line-height: 125%;
    }
    span {
        display: block;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 2em;
        letter-spacing: 1px;
    }
    #counter_one,
    #counter_two {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        span {
            //font-size: 3em;
            transition: font-size 2000ms ease-in-out;
            &:after {
                content: 'FTEs';
                font-size: 1rem;
            }
        }
    }
    svg {
        border: none;
        display: block;
        margin: 0 auto;
    }
    figure {
        margin: 0 auto;
        padding: 0;
        width: 100%;
        figcaption {
            color: white;
            span {
                width: 90%;
                position: absolute;
                top: 41%;
                left: 50%;
                transform: translate(-50%, -50%);
                &:after {
                    content: '%';
                }
            }
        }
    }
}
