$black: #282828;

$blue: #0071CE; /* rgba(0, 113, 206, 1) */
$blue-original: #007DC3;
$blue-lt: #91D1EE;
$blue-dk: #222944;

$gray: #959CA1;
$gray-alt: #e7e7e7;
$gray-back: #F9F9F9;
$gray-subtitle: #D1D3D4;

$orange: #F66632;
