/* ========= Header Container =========== */

.header {
    position: relative;
    padding: 0;
}

/* ========= Login Container =========== */

.login-bar {
    width: 100%;
    background: darken($gray-back,2.5%);
    font-weight: bold;
    letter-spacing: 0.025em;
    text-align: center;
    @include bp(54) {
        text-align: left;
        padding: 0.25em 1em;
    }
    .full-width-container {
        display: none;
        margin: 0;
        float: right;
        @include bp(54) {
            display: block;
        }
        > a {
            position: relative;
            color: darken($gray,10%);
            font-weight: normal;
            font-size: 0.75em;
            margin: 0 1em;
            &:after {
                content: '';
                position: absolute;
                bottom: -3px;
                right: 0;
                left: 50%;
                height: 0.1em;
                width: 0;
                background-color: $blue;
                transition: 250ms color ease-in-out,
                            250ms width ease-in-out,
                            250ms left ease-in-out;
            }
            &:hover {
                color: darken($blue, 10%);
                &:after {
                    width: 100%;
                    left: 0;
                }
            }
        }
    }
}
.social-top {
    display: inline-block;
    padding-left: 0.5em;
    .icon {
        display: inline-block;
        color: darken($gray,10%);
        margin: 0 0.5em;
        font-size: 0.875em;
        &:hover {
            color: $blue;
        }
    }
}

/* ========= Nav Container =========== */

.nav-bar {
    position: relative;
    padding: 1em;
    @include bp(54) {
        padding: 1em 1em 1em 2em;
    }
    @include bp(62.5) {
        padding-right: 0.5em;
    }
}
.header-logo {
    @include bp(54) {
        float: left;
    }
    a {
        display: block;
        max-width: 12em;
        @include bp(54) {
            max-width: 14em;
        }
    }
    img {
        display: block;
        width: 100%;
    }
}
.menu-trigger {
    display: block;
    position: absolute;
    top: 1.65em;
    right: 1.5em;
    width: 1.875em;
    margin: 0;
    @include bp(54) {
        display: none;
    }
    &:before,
    &:after {
        background-color: rgba(0, 113, 206, 0.9);
        content: '';
        display: block;
        height: 4px;
        transition: all 200ms ease-in-out;
        border-radius: 0.15em;
    }
    &:before {
        box-shadow: 0 8px 0 rgba(0, 113, 206, 0.9);
        margin-bottom: 12px;
    }
    &.active {
        &:before {
          box-shadow: 0 0 0 $blue;
          transform: translateY(8px) rotate(45deg);
        }
        &:after{
          transform: translateY(-8px) rotate(-45deg);
        }
    }
    &:focus {
        outline-color: transparent;
    }
    svg {
        font-size: 2em;
        transition: color 250ms ease-in-out;
        &:hover {
            color: darken($blue, 10%);
        }
    }
}
nav {
    &.main {
        display: block;
        position: absolute;
        top: 4.7em;
        right: 70em;
        left: -70em;
        height: 100em;
        text-align: center;
        transition: left 500ms ease-in-out,
                    right 500ms ease-in-out;
        z-index: 4;
        background-color: #fff;
        padding: 1.25em 0;
        @include bp(54) {
            position: relative;
            top: auto;
            left: auto;
            right: auto;
            height: auto;
            background-color: #fff;
            float: right;
            padding: 0.9em 0 0;
        }
        a {
            position: relative;
            display: block;
            color: $blue;
            font-weight: 500;
            text-decoration: none;
            font-size: 1.35em;
            padding: 0.65em 0;
            margin: 0;
            @include bp(54) {
                font-size: 1.15em;
                display: inline-block;
                float: none;
                width: auto;
                padding: 0;
                margin: 0 1em;
                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    left: 50%;
                    height: 0.1em;
                    width: 0;
                    background-color: $blue;
                    transition: 250ms color ease-in-out,
                                250ms width ease-in-out,
                                250ms left ease-in-out;
                }
                &:hover {
                    color: darken($blue, 10%);
                    &:after {
                        width: 100%;
                        left: 0;
                    }
                }
            }
            @include bp(62.5) {
                margin: 0 1.5em;
                font-size: 1em;
            }
        }
        &.services {
            a {
                @include bp(54) {
                    color: $black;
                    &:after {
                        background-color: $black;
                    }
                }
            }
        }
        &.active {
            position: absolute;
            right: 0;
            left: 0;
            @include bp(44) {
                right: 50%;
            }
        }
        .current-nav-item {
            @include bp(54) {
                color: darken($blue, 10%);
                &:after {
                    width: 100%;
                    left: 0;
                }
            }
        }
    }
}
.mobile-nav {
    @include bp(54) {
        display: none;
    }
    .social-top {
        padding: 0.75em 0 0;
        a {
            display: inline-block;
        }
        .icon {
            display: inline-block;
            color: $blue;
            font-size: 1.25em;
            margin: 0 0.75em;
            &:hover {
                color: darken($blue, 10%);
            }
        }
    }
}
