.hero {
    position: relative;
    background-color: $blue;
    @include bp(54) {
        transition: background 1s ease;
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
    }
    &.home {
        background-color: darken($gray-alt, 20%);
        background-image: url(_images/home-hero-img.jpg);
        background-position: 0;
        max-height: 80vh;
        @include bp(54) {
            background-position: 60%;
        }
        .hero-quote {
            background-color: $blue;
        }
    }
    &.careers {
        background-color: darken($gray-alt, 20%);
        padding-bottom: 2em;
        @include bp(54) {
            background-image: url(_images/careers-hero-img.jpg);
            padding-bottom: 0;
            &:after {
                content: '';
                background-color: rgba(25, 25, 25, 0.35);
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 2;
            }
        }
    }
    &.services {
        background-color: darken($gray-alt, 20%);
        @include bp(54) {
            background-image: url(_images/services-hero-img.jpg);
        }
    }
    @include bp(54) {
        &.active.home {
            .hero-quote {
                background-color: $black;
            }
            .btn {
                background-color: transparent;
                border-color: #fff;
                color: #fff;
            }
            .outline-white {
                background-color: $black;
                border-color: $black;
                color: #fff;
            }
            .hero-container {
                background-color: rgba(25, 25, 25, 0.15);
            }
            .hero-content {
                .btn {
                    transition: background-color 500ms ease-in-out,
                                border-color 500ms ease-in-out,
                                color 500ms ease-in-out;
                }
            }
            &.home {
                background: url(_images/services-hero-img.jpg) no-repeat center top;
                background-size: cover;
            }
        }
    }
}
.hero-container {
    position: relative;
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    color: #fff;
    transition: background-color 300ms ease-in-out;
    padding: 3em 0 3em;
    z-index: 3;
    @include bp(54) {
        width: 100%;
        padding: 16em 5em;
    }
    @include bp(62.5) {
        padding: 20em 5em;
    }
}
.hero-content {
    display: block;
    margin: 0 auto;
    text-align: center;
    @include bp(54) {
        position: absolute;
        top: 45%;
        left: 0;
        transform: translate(5%, -45%);
        max-width: 34em;
        text-align: left;
    }
    @include bp(80) {
        transform: translate(30%, -45%);
        max-width: 36em;
    }
    h1 {
        margin: 0 auto 0.5em;
        @include bp(54) {
            margin-bottom: 0.25em;
        }
    }
    span {
        display: block;
        font-size: 1rem;
        font-weight: 600;
        text-transform: uppercase;
    }
    p {
        font-size: 1.1em;
        padding-bottom: 2em;
        @include bp(54) {
            font-size: 1.15em;
            max-width: 26em;
            margin: 0;
            padding-bottom: 1.5em;
        }
    }
    .btn {
        display: block;
        width: 85%;
        margin: 0 auto 0.5em;
        @include bp(30) {
            display: inline-block;
            width: auto;
            margin: 0 auto;
        }
        @include bp(54) {
            &.first {
                margin-right: 1em;
            }
        }
    }
}
.hero-quote {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    text-align: center;
    background-color: $blue;
    color: #fff;
    padding: 0.75em;
    transition: background-color 500ms ease-in-out,
                opacity 1000ms ease-in-out;
    &.black {
        background-color: $black;
    }
    p {
        position: relative;
        font-style: italic;
        margin: 0 auto;
        font-weight: 400;
        max-width: 24em;
        font-size: 0.9em;
        @include bp(44) {
            font-size: 1.1rem;
        }
    }
    span {
        font-weight: 700;
    }
}
.tm {
    font-size: 1.5rem;
    position: absolute;
    right: -0.25em;
    top: 0;
    @include bp(44) {
        font-size: 2rem;
        right: -0.25em;
    }
}
.career-container {
    padding: 4em 0;
    text-align: center;
    @include bp(54) {
        text-align: left;
    }
    h2 {
        margin: 2em auto 0.5em;
        @include bp(44) {
            margin-top: 0em;
        }
        @include bp(62.5) {
            margin-top: 2em;
        }
    }
    p {
        padding-bottom: 2em;
    }
}
.services-container {
    background-color: $gray-back;
    img {
        width: 100%;
    }
    .slick-prev {
        display: none !important;
    }
    .slick-next {
        right: 7.5%;
        width: 3.5em;
        height: 3.5em;
        background-color: rgba(255, 255, 255, 0.3);
        font-size: 1em;
        border-radius: 50%;
        transition: background-color 250ms ease-in-out;
        &:hover {
            background-color: $blue;
        }
        &:before {
            content: url(_svg/icon-chevron-right.svg);
            display: block;
            margin-right: -0.1em;
        }
    }
    .left-container {
        width: 90%;
        margin: 0 auto;
    	@include bp(54) {
    		float: left;
    		width: 60%;
    	}
        @include bp(80) {
            width: 65%;
        }
        @include bp(100) {
            width: 70%;
        }
    }
    .right-container {
    	@include bp(54) {
    		float: left;
    		width: 40%;
    	}
        @include bp(80) {
            width: 35%;
        }
        @include bp(100) {
            width: 30%;
        }
    }
}
.services-content {
    padding: 4em 0;
    @include bp(54) {
        padding: 2em 2em 0;
    }
    @include bp(62.5) {
        padding: 4em 2em;
        margin: 0 auto;
        max-width: 54em;
    }
    @include bp(80) {
        padding-top: 6.5em;
    }
    @include bp(100) {
        padding-top: 8em;
    }
    h2,
    p {
        text-align: center;
        @include bp(54) {
            text-align: left;
        }
    }
    h2 {
        margin: 0 0 0.5em;
    }
    p {
        padding-bottom: 1em;
        @include bp(62.5) {
            max-width: 36em;
            margin: 0;
            padding-bottom: 2em;
        }
    }
    a.btn {
        display: block;
        margin: 0 auto;
        width: 14em;
        @include bp(54) {
            margin: 0;
        }
    }
}
.grid-container {
    text-align: center;
    padding: 6em 0;
    opacity: 0;
    transition: opacity 500ms ease-in;
    h2 {
        margin-top: 0;
    }
    p {
        padding-bottom: 2em;
    }
}
.grid-one,
.grid-two,
.grid-three,
.grid-four,
.grid-five,
.grid-six {
    opacity: 0;
}
.grid-two {
    transition-delay: 500ms
}
.grid-three {
    transition-delay: 1000ms
}
.fade-in {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
}
.testimonial-container {
    text-align: center;
    background-color: $gray-back;
    padding: 4em 0 8em;
    h2 {
        color: $black;
        padding-bottom: 1em;
        margin-bottom: 0;
    }
    &.services {
        background-color: #fff;
        padding: 2em 0;
        @include bp(54) {
            padding: 4em 0 8em;
        }
        .carousel-content {
            border-color: #fff;
            background-color: $gray-back;
        }
    }
    &.white {
        background-color: #fff;
        .carousel-content {
            border-color: $gray-alt;
            background-color: $gray-alt;
        }
    }
}

.container {
    padding: 4em 0;
    h2 {
        text-align: left;
        padding: 0 0 1em;
    }
    h3 {
        margin: 0;
        font-size: 1.35rem;
        line-height: 125%;
    }
    ul.top {
        list-style: none;
        padding: 0;
        margin: 0;
        > li {
            float: left;
            width: 46%;
            margin: 0 8% 3em 0;
            &:nth-child(2n+2) {
                margin-right: 0;
            }
        }
        span {
            font-size: 2em;
            font-weight: 700;
            color: #e7e7e7;
            display: block;
            margin-bottom: 0.15em;
        }
    }
    ul.inside {
        padding-top: 0.75em;
        li {
            line-height: 125%;
        }
    }
}
