@mixin bp($point) {
	@if $point == 80 {
		@media (min-width: 80em) { @content; }
	}
	@else if $point == 62.5 {
		@media (min-width: 62.5em) { @content; }
	}
	@else if $point == 50 {
		@media (min-width: 50em) { @content; }
	}
	@else if $point == 44 {
		@media (min-width: 44em) { @content; }
	}
	@else if $point == 30 {
		@media (min-width: 30em) { @content; }
	}
	@else if $point == 25 {
		@media (min-width: 25em) { @content; }
	}
}

@mixin button($border-color, $back-color, $text-color) {
	display: inline-block;
	padding: 0.35em 1.25em;
	font-size: 0.875em;
	text-align: center;
	text-transform: uppercase;
	border: 0.05em solid $back-color;
	background-color: $back-color;
	color: $text-color;
	font-family: "museo-sans",sans-serif;
	font-weight: 700;
	&:hover {
		border-color: darken($back-color, 10%);
		background-color: darken($back-color, 10%);
		color: $text-color;
	}
}
