@mixin bp($point) {
	@if $point == 100 {
		@media (min-width: 120em) { @content; }
	}
	@if $point == 100 {
		@media (min-width: 100em) { @content; }
	}
	@if $point == 80 {
		@media (min-width: 80em) { @content; }
	}
	@else if $point == 62.5 {
		@media (min-width: 62.5em) { @content; }
	}
	@else if $point == 54 {
		@media (min-width: 54em) { @content; }
	}
	@else if $point == 44 {
		@media (min-width: 44em) { @content; }
	}
	@else if $point == 30 {
		@media (min-width: 32em) { @content; }
	}
	@else if $point == 25 {
		@media (min-width: 25em) { @content; }
	}
}

@mixin button($border-color, $back-color, $text-color) {
	display: inline-block;
	padding: 0.65em 2.25em;
	text-align: center;
	text-decoration: none;
	border: 0.05em solid $back-color;
	background-color: $back-color;
	border: 1px solid $border-color;
	color: $text-color;
	font-family: "proxima-nova",sans-serif;
	font-weight: 700;
	font-size: 0.875em;
	border-radius: 0.25em;
	@include bp(54) {
		padding: 0.55em 2.25em;
		font-size: 0.925em;
	}
	&:hover {
		border-color: darken($back-color, 10%);
		background-color: darken($back-color, 10%);
		color: $text-color;
	}
}
