.site {
	width: 100%;
	max-width: 100em;
	margin: 0 auto;
	//box-shadow:	0 2px 4px rgba(0,0,0,0.2);
}
.lg-wrap {
	width: 90%;
	max-width: 78em;
	margin: 0 auto;
	@include bp(80) {
		width: 100%;
	}
}
.wrap {
	width: 90%;
	max-width: 60em;
	margin: 0 auto;
	@include bp(62.5) {
		width: 100%;
	}
}
.sm-wrap {
	position: relative;
	width: 90%;
	max-width: 44em;
	margin: 0 auto;
	@include bp(54) {
		width: 100%;
	}
}
.half {
	margin-bottom: 1em;
	@include bp(54) {
		float: left;
		width: 48%;
		margin-bottom: 0;
		&.first {
			margin-right: 4%;
		}
	}
	&.full {
		@include bp(54) {
			margin: 0;
			width: 50%;
		}
	}
}
.two-third {
	@include bp(54) {
		float: left;
		width: 65%;
		&.first {
			margin-right: 5%;
		}
	}
}
.third {
	@include bp(54) {
		float: left;
		width: 30%;
		&.first {
			margin-right: 5%;
		}
	}
}
.sixty {
	@include bp(54) {
		float: left;
		width: 60%;
	}
}
.forty {
	@include bp(54) {
		float: left;
		width: 40%;
	}
}
.four-list {
	list-style: none;
	padding: 0;
	margin: 0;
	> li {
		float: left;
		width: 48%;
		margin: 0 4% 1em 0;
		&:last-child, &:nth-child(even) {
			margin: 0;
		}
	}
	@include bp(54) {
		> li {
			width: 24%;
			margin: 0 1.333% 1em 0;
			&:nth-child(even) {
				margin: 0 4% 1em 0;
			}
			&:last-child, &:nth-child(4n) {
				margin: 0 0 1em;
			}
		}
	}
}
.three-list {
	list-style: none;
	padding: 0;
	margin: 0;
	> li {
		display: block;
		margin-bottom: 1em;
	}
	@include bp(54) {
		> li {
			float: left;
			width: 30%;
			margin: 0 5% 1em 0;
			&:last-child, &:nth-child(3n) {
				margin: 0 0 1em;
			}
		}
	}
}
.two-list {
	list-style: none;
	padding: 0;
	margin: 0;
	> li {
		display: block;
		margin-bottom: 1em;
	}
	@include bp(54) {
		> li {
			float: left;
			width: 45%;
			margin: 0 10% 1em 0;
			&:last-child, &:nth-child(even) {
				margin: 0 0 1em;
			}
		}
	}
}
.centered-list {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	li {
		display: inline-block;
		max-width: 47%;
		margin: 0 6% 1em 0;
		vertical-align: top;
		&:nth-child(even) {
			margin: 0 0 1em;
		}
	}
	@include bp(54) {
		li {
			max-width: 30%;
			margin: 0 5% 1em 0;
			&:nth-child(even) {
				margin: 0 5% 1em 0;
			}
			&:last-child, &:nth-child(3n) {
				margin: 0 0 1em;
			}
		}
	}
}
